a {
  color: #582922;
  padding: 4px;
}

a:hover {
  color: white
}

body {
  font-family: "Boldonse", system-ui;
  background-color: #D4E09B; 
  color: #582922;
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
}

button {
  padding: 5px;
}

caption {
  color: #582922;
}

legend {
  color: #5a7538
}

header, footer{
  background-color: #5a7538;
  color: #582922;
  margin: 0%;
  padding: 1%;
  width: 98%; 
}

header p, h1 {
  color: #ddbb00;
  text-align: left;
}

h1#editExercise {
  text-align: center;
  color: #A44A3F;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  color: #ddbb00
}

nav {
    background-color: #A44A3F;
    border-top: 1px solid black; 
    padding: 0.1rem;
    display: flex;
}

nav a {
    background-color: #A44A3F; 
    border-left: 1px solid #5a7538;
    border-right: 1px solid #5a7538;
    border-top: 1px solid #5a7538;
    border-bottom: 1px solid #5a7538;
    color: #5ceafd(255, 195, 195); 
    margin: 0px;
    padding: 2px;
    padding: 0rem 1.3rem; 
    text-decoration: none;
    justify-content: center;
    display: flex;
    width: 100%;
    list-style: none;
}

nav a:visited {
    background-color: #A44A3F; 
    border-left: 1px solid #5a7538;
    border-right: 1px solid #5a7538;
    border-top: 1px solid #5a7538;
    border-bottom: 1px solid #5a7538;
    color: aquamarine; 
    margin: 0px;
    padding: 2px;
    padding: 0rem 1.3rem; 
    text-decoration: none;
    justify-content: center;
    display: flex;
    width: 100%;
    list-style: none;
}  

nav a:hover {
    background-color: white; 
    border-left: 1px solid #5a7538;
    border-right: 1px solid #5a7538;
    border-top: 1px solid #5a7538;
    border-bottom: 1px solid #5a7538;
    color: #A44A3F; 
    margin: 0px;
    padding: 2px;
    padding: 0rem 1.3rem; 
    text-decoration: none;
    justify-content: center;
    display: flex;
    width: 100%;
    list-style: none;
}

main {
    background-color: #D4E09B;
    color: #A44A3F;
    margin: 0%;
    padding: 1% 2%;
    padding-bottom: 30px;
}

h1 {
    color: #ddbb00;
}

h2 {
  color: #A44A3F
}

img {
  float: inline-end;
  padding: 10px;
}

input, select {
  padding: 5px;
  color-scheme: dark;
}

dt {
    font-weight: 600;
}

select {
  padding: 1px 2px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; 
    width: 100%;
    max-width: 960px;
}

thead {
    border: 1.5px solid black; 
    padding: 10%; 
}

tr, td  {
    border: 1.5px solid black;
    color: #582922;
    padding: 1%
}



tr th {
  background-color: #5a7538; 
  border: 1.5px solid black;
  color: #ddbb00;
  padding: 0.5%
}

p {
    color: #582922
}

/* OSU list made into boxes */
.boxes {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
    justify-content: center;
}

.boxes li {
    list-style-type: none;
    text-align: center;
    border: 1rem solid #582922;
    font-size: 10rem;
    font-weight: 600;
    color: white;
    margin: 1rem;
    padding: 5rem;
    width: 20rem;
    border-radius: 50%;
    background-color:#9cb380;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  /* max-width: 1280px; */
  text-align: center;
}

#slogan {
    text-align: center; 
    color: #582922; 
    font-weight: 500;
}



